<%- include('./partials/header_default') %>

<main>
    <div class="container">
        <div class="col-md-12 content-block text-center">
            <img src="/images/development.png" alt="Em desenvolvimento" width="450">
            <h1>Em desenvolvimento</h1>
        </div>
    </div>
</main>

<%- include('./partials/footer_default') %>