<%- include('./partials/header_default') %>

<main>
    <div class="container">
        <div class="header-block">
            <h1>Cronograma semanal</h1>
        </div>
        <div class="col-md-12 content-block">
            <div class="row">
                <div class="col-md-4 pt-4 pb-3">
                    <h3 class="title-day">Segunda</h3>
                    <ul class="text-left">
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:00</span> <i class="fas fa-ellipsis-v mr-1"></i> Verificar loja e corrigir bugs</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:30</span> <i class="fas fa-ellipsis-v mr-1"></i> Iniciar as pautas do dia</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>17:50</span> <i class="fas fa-ellipsis-v mr-1"></i> Anotar tarefas concluidas</li>
                    </ul>
                </div>
                <div class="col-md-4 pt-4 pb-3">
                    <h3 class="title-day">Terça</h3>
                    <ul class="text-left">
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:00</span> <i class="fas fa-ellipsis-v mr-1"></i> Verificar loja e corrigir bugs</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:30</span> <i class="fas fa-ellipsis-v mr-1"></i> Iniciar as pautas do dia</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>15:00</span> <i class="fas fa-ellipsis-v mr-1"></i> Buscar novas funcionalidades</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>17:50</span> <i class="fas fa-ellipsis-v mr-1"></i> Anotar tarefas concluidas</li>
                    </ul>
                </div>
                <div class="col-md-4 pt-4 pb-3">
                    <h3 class="title-day">Quarta</h3>
                    <ul class="text-left">
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:00</span> <i class="fas fa-ellipsis-v mr-1"></i> Verificar loja e corrigir bugs</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:30</span> <i class="fas fa-ellipsis-v mr-1"></i> Iniciar as pautas do dia</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>17:50</span> <i class="fas fa-ellipsis-v mr-1"></i> Anotar tarefas concluidas</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-4 pb-3">
                    <h3 class="title-day">Quinta</h3>
                    <ul class="text-left">
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:00</span> <i class="fas fa-ellipsis-v mr-1"></i> Verificar loja e corrigir bugs</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-thumbtack mr-2"></i> FIXO </span> <i class="fas fa-ellipsis-v mr-1"></i> Apenas tarefas urgentes</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-thumbtack mr-2"></i> FIXO </span> <i class="fas fa-ellipsis-v mr-1"></i> Prioridade pauta VTEX</li>
                    </ul>
                </div>
                <div class="col-md-4 pt-4 pb-3">
                    <h3 class="title-day">Sexta</h3>
                    <ul class="text-left">
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:00</span> <i class="fas fa-ellipsis-v mr-1"></i> Verificar loja e corrigir bugs</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>10:30</span> <i class="fas fa-ellipsis-v mr-1"></i> Iniciar as pautas do dia</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-thumbtack mr-2"></i> FIXO </span> <i class="fas fa-ellipsis-v mr-1"></i> Reunião - Horário Flexível</li>
                        <li><span class="time_task rounded mr-1"><i class="fas fa-clock mr-2"></i>17:50</span> <i class="fas fa-ellipsis-v mr-1"></i> Anotar tarefas concluidas</li>
                    </ul>
                </div>
                <div class="col-md-4 pt-4 pb-3">
                    <h3 class="title-day"><i class="fas fa-calendar-alt mr-2"></i> TODOS OS DIAS</h3>
                    <ul class="text-left">
                        <li><span class="time_task rounded mr-1 single-icon"><i class="fas fa-thumbtack"></i></span> <i class="fas fa-ellipsis-v mr-1"></i> Verificar loja e corrigir bugs</li>
                        <li><span class="time_task rounded mr-1 single-icon"><i class="fas fa-thumbtack"></i></span> <i class="fas fa-ellipsis-v mr-1"></i> Uma tarefa pagespeed por dia</li>
                        <li><span class="time_task rounded mr-1 single-icon"><i class="fas fa-thumbtack"></i></span> <i class="fas fa-ellipsis-v mr-1"></i> Anotar tarefas concluidas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./partials/footer_default') %>