<%- include('./partials/header_default') %>

<main>
    <div class="container">
        <div class="col-md-12 content-block">
            <div class="row">
                <div class="col-md-6 pt-5 pb-5">
                    <h3 class="title-day">Segunda</h3>
                    <ul>
                        <li><span class="time_task rounded mr-1">10h às 10h20</span>  - Verificar loja e corrigir bugs</li>
                    </ul>
                </div>
                <div class="col-md-6 pt-5 pb-5">
                    <h3 class="title-day">Terça</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 pt-5 pb-5">
                    <h3 class="title-day">Quarta</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-md-6 pt-5 pb-5">
                    <h3 class="title-day">Quinta</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pt-5 pb-5">
                    <h3 class="title-day">Sexta</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-md-6 pt-5 pb-5">
                    <h3 class="title-day"><i class="fas fa-calendar-alt"></i></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./partials/footer_default') %>