body{
    font-family: 'Poppins', sans-serif;
    background:#f4f4f4;
    color: #3f3849;
}

body.schedule .container {
    display: flex;
    height: 100vh;
    align-items: center;
}

body.schedule .content-block{
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 7px 25px 1px rgba(0,0,0,0.08);
}
body.schedule .content-block .col-md-4{
    text-align: center;
}
body.schedule .content-block .col-md-4:not(:last-child) {
    border-right: 1px solid #21252914;
}
body.schedule .row:first-child, body.schedule .row:nth-child(2){
    border-bottom: 1px solid #21252914;
}
body.schedule .content-block .col-md-4 h3{
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}


/* LIST */
body.schedule ul {
    list-style: none;
    padding: 0;
    /*border-top: 1px solid #21252914;*/
    padding-top: 30px;
    margin-top: 15px;
    background: #F9F9FD;
    padding: 20px;
    border-radius: 5px;
}
body.schedule ul li{
    margin-bottom: 10px;
    font-size: 14px;
}
span.time_task {
    background: #3a1a68;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 11px;
}
span.time_task .single-icon svg {
    margin-right: 0px !important;
}